<!-- Card Container -->
<div>

	<!-- Individual Card -->
	<div class="ds-c-card ds-u-padding--4 ds-u-margin-y--4">
		<!-- Card Title -->
		<div class="ds-text-heading--lg">
			Allow beneficiaries to accurately share their data with a click
		</div>
		<!-- Card Description -->
		<div>
			Benefit from accurate data to ensure customers are getting covered for all medications and condiditions without burdening Medicare beneficiaries with manual data entry.
		</div>
	</div>
	
	<!-- Individual Card -->
	<div class="ds-c-card ds-u-padding--4 ds-u-margin-y--4">
		<!-- Card Title -->
		<div class="ds-text-heading--lg">
			Historical patient data at your fingertips
		</div>
		<!-- Card Description -->
		<div>
			Our services deliver access to historical data about patients, the medications they take, and what appointments they've had. Create tools that improve patient experience.
		</div>
	</div>

	<!-- Individual Card -->
	<div class="ds-c-card ds-u-padding--4 ds-u-margin-y--4">
		<!-- Card Title -->
		<div class="ds-text-heading--lg">
			New data refreshed weekly. Hourly for some models.
		</div>
		<!-- Card Description -->
		<div>
			Accountable Care Organizations and Alternative Payment Model participants are able to make claims data requests more often (once a week), providing more timely insights into their population. Select models may be eligible for even more timely data access.
		</div>
	</div>

</div>
