<header class="ds-u-padding--3 ds-u-sm-padding--6 ds-u-display--block ds-u-fill--gray-lightest ds-u-margin-bottom--2">
	<h1 class="ds-u-margin-bottom--0">{{ site.title }}</h1>
	<div role="doc-subtitle" class="ds-u-margin-bottom--2">
		<span class="ds-h3 ds-u-font-weight--normal">Powering Healthcare Services</span>
	</div>
		<a class="ds-c-button ds-c-button--primary ds-c-button--inverse ds-u-font-weight--normal" href="#getStarted" role="button">Get Started</a>
		<!--
		<a class="ds-c-button ds-c-button--transparent ds-u-lg-margin-left--2" href="#" role="button">Secondary Link</a>
		-->
</header>
