<!-- Card Container -->
<div>

	<!-- Individual Card -->
	<div class="ds-c-card ds-u-padding--4 ds-u-margin-y--4">
		<!-- Card Title -->
		<div class="ds-text-heading--lg">
			For healthcare providers at the point of care:
		</div>
		<!-- Card Description -->
		<div>
			<p>
				Help save valuable time by revealing the past procedures and medical history of people with Medicare at the point of care.
			</p>
			<p>
				Our services deliver access to historical data about people with Medicare, the medications they take, and what appointments they've had. Create tools that improve patient experience.
			</p>

			<a class="ds-c-button ds-c-button--primary ds-c-button--inverse ds-u-font-weight--normal" href="http://dpc.cms.gov">
				Explore the Data at the Point of Care API
			</a>
		</div>
	</div>

	<!-- Individual Card -->
	<div class="ds-c-card ds-u-padding--4 ds-u-margin-y--4">
		<!-- Card Title -->
		<div class="ds-text-heading--lg">
			For Accountable Care Organizations:
		</div>
		<!-- Card Description -->
		<div>
			<p>
				Get insight into your assigned beneficiary populations with Medicare claims data, population health, and quality performance monitoring.
			</p>
			<p>
				Our products provide Medicare Part A, Part B, and Part D claims data on a weekly basis (and in some cases faster).
			</p>

			<a class="ds-c-button ds-c-button--primary ds-c-button--inverse ds-u-font-weight--normal" href="http://bcda.cms.gov">
				Explore the Beneficiary Claims Data API
			</a>
		</div>
	</div>

	<!-- Individual Card -->
	<div class="ds-c-card ds-u-padding--4 ds-u-margin-y--4">
		<!-- Card Title -->
		<div class="ds-text-heading--lg">
			For empowering people with Medicare to access and share their data:
		</div>
		<!-- Card Description -->
		<div>
			<p>
				Benefit from accurate data to ensure customers and people with Medicare are getting covered for all medications and condiditions without putting the burden of manual data entry on people with Medicare.
			</p>
			<p>
				With the Blue Button 2.0 API, you can also allow people with Medicare to consent to share their data with an application, patient portal, diagnostic service, and more!
			</p>

			<a class="ds-c-button ds-c-button--primary ds-c-button--inverse ds-u-font-weight--normal" href="http://bluebutton.cms.gov">
				Explore the Blue Button 2.0 API
			</a>
		</div>
	</div>

	<!-- Individual Card -->
	<div class="ds-c-card ds-u-padding--4 ds-u-margin-y--4">
		<!-- Card Title -->
		<div class="ds-text-heading--lg">
			For Prescription Drug Plan Sponsors:
		</div>
		<!-- Card Description -->
		<div>
			<p>
				Provide FHIR-formatted bulk claims data about plan enrollees to stand-alone Prescription Drug Plan (PDP) sponsors in accordance with <a href="https://www.congress.gov/bill/115th-congress/house-bill/1892/text">Bipartisan Budget Act of 2018 (BBA)</a>. Claims data can help PDP sponsors to better promote the appropriate use of medications and treatment plans in order to improve health outcomes. This data can also reduce a patient's burden in providing their medical history.
			</p>

			<a class="ds-c-button ds-c-button--primary ds-c-button--inverse ds-u-font-weight--normal" href="http://ab2d.cms.gov">
				Explore the AB2D API
			</a>
		</div>
	</div>

</div>
